.col-lg-12

  = simple_form_for  @product_type do |f|
    .row.card-box
      .col-12
        .col-6
          .form-group.row
            %label{for: 'name', class: 'col-4 col-form-label'}
              Type Name
            .col-8
              = f.input :name, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 General Information
        .col-12
          .form-group.row
            %label{for: 'provider', class: 'col-4 col-form-label'}
              Provider
            .col-8
              = f.input :provider, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'os', class: 'col-4 col-form-label'}
              OS
            .col-8
              = f.input :os, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'language', class: 'col-4 col-form-label'}
              Language
            .col-8
              = f.input :language, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 Screen Information
        .col-12
          .form-group.row
            %label{for: 'screen_type', class: 'col-4 col-form-label'}
              Screen Type
            .col-8
              = f.input :screen_type, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'color', class: 'col-4 col-form-label'}
              Color
            .col-8
              = f.input :color, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'resolution', class: 'col-4 col-form-label'}
              Resolution
            .col-8
              = f.input :resolution, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'screen_size', class: 'col-4 col-form-label'}
              Screen Size
            .col-8
              = f.input :screen_size, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 Camera Information
        .col-12
          .form-group.row
            %label{for: 'font_camera', class: 'col-4 col-form-label'}
              Front Camera
            .col-8
              = f.input :font_camera, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'back_camera', class: 'col-4 col-form-label'}
              Back Camera
            .col-8
              = f.input :back_camera, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'flash', class: 'col-4 col-form-label'}
              Flash
            .col-8
              = f.input :flash, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'video_mode', class: 'col-4 col-form-label'}
              Video Mode
            .col-8
              = f.input :video_mode, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'video_call', class: 'col-4 col-form-label'}
              Video Call
            .col-8
              = f.input :video_call, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 CPU Information
        .col-12
          .form-group.row
            %label{for: 'cpu', class: 'col-4 col-form-label'}
              CPU
            .col-8
              = f.input :cpu, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'ram', class: 'col-4 col-form-label'}
              Ram
            .col-8
              = f.input :ram, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'chipset', class: 'col-4 col-form-label'}
              Chipset
            .col-8
              = f.input :chipset, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 Memory Information
        .col-12
          .form-group.row
            %label{for: 'address_memory', class: 'col-4 col-form-label'}
              Address Memory
            .col-8
              = f.input :address_memory, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'maximum_memory', class: 'col-4 col-form-label'}
              Maximum Memory
            .col-8
              = f.input :maximum_memory, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'built_in_memory', class: 'col-4 col-form-label'}
              Built In Memory
            .col-8
              = f.input :built_in_memory, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'extra_memory', class: 'col-4 col-form-label'}
              Extra Memory
            .col-8
              = f.input :extra_memory, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 Weightiness Information
        .col-12
          .form-group.row
            %label{for: 'weight', class: 'col-4 col-form-label'}
              Weight
            .col-8
              = f.input :weight, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'size', class: 'col-4 col-form-label'}
              Size
            .col-8
              = f.input :size, label: false, input_html: { class: 'form-control' }
        .col-12
          %h4 Battery Information
        .col-12
          .form-group.row
            %label{for: 'battery_capacity', class: 'col-4 col-form-label'}
              Battery Capacity
            .col-8
              = f.input :battery_capacity, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 Connection Information
        .col-12
          .form-group.row
            %label{for: 'c3g', class: 'col-4 col-form-label'}
              3G Connection
            .col-8
              = f.input :c3g, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'c4g', class: 'col-4 col-form-label'}
              4G Connection
            .col-8
              = f.input :c4g, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'bluetooth', class: 'col-4 col-form-label'}
              Bluetooth
            .col-8
              = f.input :bluetooth, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'gprs', class: 'col-4 col-form-label'}
              GPRS
            .col-8
              = f.input :gprs, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'gps', class: 'col-4 col-form-label'}
              GPS
            .col-8
              = f.input :gps, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'usb', class: 'col-4 col-form-label'}
              USB
            .col-8
              = f.input :usb, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'sim_card_port', class: 'col-4 col-form-label'}
              Sim Card Port
            .col-8
              = f.input :sim_card_port, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'sim_card', class: 'col-4 col-form-label'}
              Sim card
            .col-8
              = f.input :sim_card, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'wifi', class: 'col-4 col-form-label'}
              Wifi
            .col-8
              = f.input :wifi, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 Utility Information
        .col-12
          .form-group.row
            %label{for: 'video_player', class: 'col-4 col-form-label'}
              Video Player
            .col-8
              = f.input :video_player, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'mp3_player', class: 'col-4 col-form-label'}
              MP3 Player
            .col-8
              = f.input :mp3_player, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'fm_radio', class: 'col-4 col-form-label'}
              FM Radio
            .col-8
              = f.input :fm_radio, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'recoder', class: 'col-4 col-form-label'}
              Recoder
            .col-8
              = f.input :recoder, label: false, input_html: { class: 'form-control' }
    .form-group.row.card-box
      .col-12
        %h4 Description
      .col-12
        = f.input :description, label: false, input_html: { class: 'form-control', id: 'froalaEditor' }
    .form-group.row.card-box
      .col-12
        = f.submit :save, class: 'btn btn-primary pull-right'
:javascript
  $('#froalaEditor').froalaEditor({
    imageUploadMethod: 'POST',
    imageUploadURL: '/upload_photos/upload_editor',
  });
