.col-lg-12

  = simple_form_for  @product_type do |f|
    .row.card-box
      .col-12
        .col-6
          .form-group.row
            %label{for: 'name', class: 'col-4 col-form-label'}
              Tên loại
            .col-8
              = f.input :name, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 Thông tin chung
        .col-12
          .form-group.row
            %label{for: 'provider', class: 'col-4 col-form-label'}
              Nhà cung cấp
            .col-8
              = f.input :provider, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'os', class: 'col-4 col-form-label'}
              Hệ điều hành
            .col-8
              = f.input :os, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'language', class: 'col-4 col-form-label'}
              Ngôn ngữ
            .col-8
              = f.input :language, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 Thông số màn hình
        .col-12
          .form-group.row
            %label{for: 'screen_type', class: 'col-4 col-form-label'}
              loại màn hình
            .col-8
              = f.input :screen_type, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'color', class: 'col-4 col-form-label'}
              Màu sắc
            .col-8
              = f.input :color, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'resolution', class: 'col-4 col-form-label'}
              Độ phân giải
            .col-8
              = f.input :resolution, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'screen_size', class: 'col-4 col-form-label'}
              Kích thước màn hình
            .col-8
              = f.input :screen_size, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 Thông tin camera
        .col-12
          .form-group.row
            %label{for: 'font_camera', class: 'col-4 col-form-label'}
              Camera trước
            .col-8
              = f.input :font_camera, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'back_camera', class: 'col-4 col-form-label'}
              Camera sau
            .col-8
              = f.input :back_camera, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'flash', class: 'col-4 col-form-label'}
              Flash
            .col-8
              = f.input :flash, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'video_mode', class: 'col-4 col-form-label'}
              Quay phim
            .col-8
              = f.input :video_mode, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'video_call', class: 'col-4 col-form-label'}
              Video Call
            .col-8
              = f.input :video_call, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 Thông tin CPU
        .col-12
          .form-group.row
            %label{for: 'cpu', class: 'col-4 col-form-label'}
              CPU
            .col-8
              = f.input :cpu, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'ram', class: 'col-4 col-form-label'}
              Ram
            .col-8
              = f.input :ram, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'chipset', class: 'col-4 col-form-label'}
              Chipset
            .col-8
              = f.input :chipset, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 Thông tin bộ nhớ
        .col-12
          .form-group.row
            %label{for: 'address_memory', class: 'col-4 col-form-label'}
              Bộ nhớ danh bạ
            .col-8
              = f.input :address_memory, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'maximum_memory', class: 'col-4 col-form-label'}
              Hổ trợ thẻ nhớ tối đa
            .col-8
              = f.input :maximum_memory, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'built_in_memory', class: 'col-4 col-form-label'}
              Bộ nhớ trong
            .col-8
              = f.input :built_in_memory, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'extra_memory', class: 'col-4 col-form-label'}
              Bộ nhớ ngoài
            .col-8
              = f.input :extra_memory, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 Trọng lượng máy
        .col-12
          .form-group.row
            %label{for: 'weight', class: 'col-4 col-form-label'}
              Trọng lượng
            .col-8
              = f.input :weight, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'size', class: 'col-4 col-form-label'}
              kích thước
            .col-8
              = f.input :size, label: false, input_html: { class: 'form-control' }
        .col-12
          %h4 Thông tin Pin
        .col-12
          .form-group.row
            %label{for: 'battery_capacity', class: 'col-4 col-form-label'}
              Dung lượng pin
            .col-8
              = f.input :battery_capacity, label: false, input_html: { class: 'form-control' }
    .row.card-box
      .col-6
        .col-12
          %h4 Thông tin kết nối
        .col-12
          .form-group.row
            %label{for: 'c3g', class: 'col-4 col-form-label'}
              Kết nối 3G
            .col-8
              = f.input :c3g, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'c4g', class: 'col-4 col-form-label'}
              Kết nối 4G
            .col-8
              = f.input :c4g, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'bluetooth', class: 'col-4 col-form-label'}
              Bluetooth
            .col-8
              = f.input :bluetooth, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'gprs', class: 'col-4 col-form-label'}
              GPRS
            .col-8
              = f.input :gprs, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'gps', class: 'col-4 col-form-label'}
              GPS
            .col-8
              = f.input :gps, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'usb', class: 'col-4 col-form-label'}
              USB
            .col-8
              = f.input :usb, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'sim_card_port', class: 'col-4 col-form-label'}
              Số khe cắm sim
            .col-8
              = f.input :sim_card_port, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'sim_card', class: 'col-4 col-form-label'}
              Loại sim
            .col-8
              = f.input :sim_card, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'wifi', class: 'col-4 col-form-label'}
              Wifi
            .col-8
              = f.input :wifi, label: false, input_html: { class: 'form-control' }
      .col-6
        .col-12
          %h4 Đa phương tiện
        .col-12
          .form-group.row
            %label{for: 'video_player', class: 'col-4 col-form-label'}
              Chơi Video
            .col-8
              = f.input :video_player, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'mp3_player', class: 'col-4 col-form-label'}
              Chơi nhạc
            .col-8
              = f.input :mp3_player, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'fm_radio', class: 'col-4 col-form-label'}
              Đài FM
            .col-8
              = f.input :fm_radio, label: false, input_html: { class: 'form-control' }
          .form-group.row
            %label{for: 'recoder', class: 'col-4 col-form-label'}
              Ghi âm
            .col-8
              = f.input :recoder, label: false, input_html: { class: 'form-control' }
    .form-group.row.card-box
      .col-12
        %h4 Mô tả
      .col-12
        = f.input :description, label: false, input_html: { class: 'form-control', id: 'froalaEditor' }
    .form-group.row.card-box
      .col-12
        = f.submit :save, class: 'btn btn-primary pull-right'
:javascript
  $('#froalaEditor').froalaEditor({
    imageUploadMethod: 'POST',
    imageUploadURL: '/upload_photos/upload_editor',
  });
