%div.row
  %div.col-sm-12
    %div.page-title-box
      %h4.page-title Loại sản phẩm
      %ol.breadcrumb.float-right
        %li.breadcrumb-item.active
          %a{href: '/'}
      %div.clearfix
    .box-body.row
      .col-lg-6
        .form-group.area-add
          = link_to 'Thêm mới', new_product_type_path, class: 'btn btn-primary'
          = link_to 'Xoá tìm kiếm','javascript: void(0)', onclick: 'clear_search()', class: 'btn btn-primary'
      .col-lg-6
        = search_form_for @q, remote: true, method: :get do |f|
          .form-group.area-keyword
            .input-group.div-flex
              = f.search_field :name_cont_any, class: 'form-control search'
              .text-right
                = submit_tag 'Tìm', class: 'btn btn-primary pull-right ml-1'
    .box-body#product_types_list
      = render 'product_types_list'
    .box-footer.clearfix
      %ul.pagination.pagination-sm.no-margin.pull-right#product_types_list
        = paginate @product_types, remote: true
