.row
  .col-lg-8
    .product_details
      .product_images_wrapper
        - if @product.status == 'available'
          .corner-ribbon.top-right.sticky.blue
            = t(@product.status)
        - if @product.status == 'waiting'
          .corner-ribbon.top-right.sticky.green
            = t(@product.status)
        - if @product.status == 'unavailable'
          .corner-ribbon.top-right.sticky.red
            = t(@product.status)
        #product_images
          - @product.upload_files.each do |image|
            .product_image
              %img{src: image.file_url}
        .horizontal-line
        .col-12
          %h3
            - if @product.price
              Giá:
              = format_currency(@product.try(:price))
          %h5
            - if @product.instalment
              Trả góp từ:
              = format_currency(@product.try(:instalment))

        .row
          .col-4
            .color_box.text-center.red
              %h6 Đặt hàng ngay - giao tận nơi
              %small Thanh toán tại nhà
          .col-4
            .color_box.text-center.blue
              %h6 Mua trả góp trong 15 phút
              %small Home credit
          .col-4
            .color_box.text-center.green
              %h6 Đặt mua tại cửa hàng
              %small Xem hàng tại cửa hàng
        %br
        %br
        %br
        .row
          .col-12
            = raw(@product.product_type.try(:description))
  .col-lg-4
    .product_details
      .col-12
        %h4 Chức năng, cấu hình sản phẩm
        .product_info_legend
          %h5 genneral
        %ul
          %li
            %strong
              Nhà cung cấp
            %span
              = @product.product_type.try(:provider)
        .product_info_legend
          %h5 Thông tin chung
        %ul
          %li
            %strong
              Hệ điều hành
            %span
              = @product.product_type.try(:os)
          %li
            %strong
              Ngôn Ngữ
            %span
              = @product.product_type.try(:language)
        .product_info_legend
          %h5 màn hình
        %ul
          %li
            %strong
              Loại màn hình
            %span
              = @product.product_type.try(:screen_type)
          %li
            %strong
              Màu màn hình
            %span
              = @product.product_type.try(:color)
          %li
            %strong
              Độ phân giải
            %span
              = @product.product_type.try(:resolution)
          %li
            %strong
              Độ rộng màn hình
            %span
              = @product.product_type.try(:screen_size)
        .product_info_legend
          %h5 Chụp hình & Quay phim
        %ul
          %li
            %strong
              Camera sau
            %span
              = @product.product_type.try(:back_camera)
          %li
            %strong
              Camera trước
            %span
              = @product.product_type.try(:font_camera)
          %li
            %strong
              Đèn Flash
            %span
              = @product.product_type.try(:flash)
          %li
            %strong
              Quay phim
            %span
              = @product.product_type.try(:video_mode)
          %li
            %strong
              Video call
            %span
              = @product.product_type.try(:video_call)
        .product_info_legend
          %h5 CPU & Ram
        %ul
          %li
            %strong
              Tốc độ CPU
            %span
              = @product.product_type.try(:cpu)
          %li
            %strong
              Ram
            %span
              = @product.product_type.try(:ram)
          %li
            %strong
              Chipset
            %span
              = @product.product_type.try(:chipset)

        .product_info_legend
          %h5 Bộ Nhớ
        %ul
          %li
            %strong
              Danh bạ
            %span
              = @product.product_type.try(:address_memory)
          %li
            %strong
              Hổ trợ thẻ nhớ tối đa
            %span
              = @product.product_type.try(:maximum_memory)
          %li
            %strong
              Bộ nhớ trong
            %span
              = @product.product_type.try(:built_in_memory)
          %li
            %strong
              Thẻ nhớ ngoài
            %span
              = @product.product_type.try(:extra_memory)
        .product_info_legend
          %h5 Kích Thước & Trọng Lượng
        %ul
          %li
            %strong
              Kích thước
            %span
              = @product.product_type.try(:size)
          %li
            %strong
              Trọng lượng
            %span
              = @product.product_type.try(:weight)

        .product_info_legend
          %h5 Thông tin Pin
        %ul
          %li
            %strong
              Dung lượng
            %span
              = @product.product_type.try(:battery_capacity)
        .product_info_legend
          %h5 Kết nối & Giao tiếp
        %ul
          %li
            %strong
              3G
            %span
              = @product.product_type.try(:c3g)
          %li
            %strong
              4G
            %span
              = @product.product_type.try(:c4g)
          %li
            %strong
              Bluetooth
            %span
              = @product.product_type.try(:bluetooth)
          %li
            %strong
              GPRG
            %span
              = @product.product_type.try(:gprs)
          %li
            %strong
              GPS
            %span
              = @product.product_type.try(:gps)
          %li
            %strong
              Khe cắm sim
            %span
              = @product.product_type.try(:sim_card_port)
          %li
            %strong
              Loại sim
            %span
              = @product.product_type.try(:sim_card)
          %li
            %strong
              Wifi
            %span
              = @product.product_type.try(:wifi)
        .product_info_legend
          %h5 Giải trí
        %ul
          %li
            %strong
              Xem phim
            %span
              = @product.product_type.try(:video_player)
          %li
            %strong
              Mp3
            %span
              = @product.product_type.try(:mp3_player)
          %li
            %strong
              FM
            %span
              = @product.product_type.try(:fm_radio)
          %li
            %strong
              Ghi âm
            %span
              = @product.product_type.try(:recoder)

        .col-lg-6

:javascript
  $('#product_images').slick({dots: true});
