%div.row
  %div.col-sm-12
    %div.page-title-box
      %h4.page-title Dashboard messages
      %ol.breadcrumb.float-right
        %li.breadcrumb-item.active
          %a{href: '/'}
      %div.clearfix
    .box-body
      .form-group.area-add
        = link_to 'Add New', new_super_dashboard_message_path, class: 'btn btn-primary'
    .box-body
      %table.table.table-bordered
        %thead
          %tr
            %th
              ID
            %th
              title
            %th
              body
            %th
            %th

        %tbody
          - @dashboard_messages.each do |dashboard_message|
            %tr
              %td= dashboard_message.id
              %td= dashboard_message.title
              %td= dashboard_message.body
              %td= link_to '', edit_super_dashboard_message_path(dashboard_message), class: 'fa fa-edit'
              %td
                - if can? :delete, dashboard_message
                  = link_to '', super_dashboard_message_path(dashboard_message), class: 'fa fa-times', method: :delete, data: { confirm: 'Are you sure?' }
    .box-footer.clearfix
      %ul.pagination.pagination-sm.no-margin.pull-right
        = paginate @dashboard_messages
