= render 'shared/page_header', title: 'Users'

.row
  .col-sm-12
    .box-body.row
      .col-lg-6
        .form-group.area-add
          = link_to 'Add New', new_super_user_path, class: 'btn btn-primary'
          = link_to 'Clear Search', super_users_path, class: 'btn btn-primary'
      .col-lg-6
        = form_tag super_users_path, method: :get do
          .form-group.area-keyword
            .input-group.div-flex
              = text_field_tag :term, params[:term], class: 'form-control'
              .text-right
                = submit_tag 'Search', class: 'btn btn-primary pull-right ml-1'
    .box-body
      %table.table.table-bordered
        %thead
          %tr
            %th.text-center
              .text-center= sort_link(@q, :id, 'ID', default_order: :desc)
            %th
              Email
            %th
              First Name
            %th
              Last Name
            %th
            %th

        %tbody
          - @users.each do |user|
            %tr
              %td.text-center= user.id
              %td= user.email
              %td= user.first_name
              %td= user.last_name
              %td.text-center= link_to '', edit_super_user_path(user), class: 'fa fa-edit'
              %td.text-center= link_to '', super_user_path(user), class: 'fa fa-times', method: :delete, data: { confirm: 'Are you sure?' }
    .box-footer.clearfix
      %ul.pagination.pagination-sm.no-margin.pull-right
        = paginate @users, outer_window: 3
