%table.table.table-bordered
  %thead
    %tr
      %th.text-center{style: 'width: 10%;'}
        = sort_link(@q, :id, "ID",{}, {remote: true})
      %th.text-center{style: 'width: 20%;'}
        = sort_link(@q, :name, "Tên sản phẩm", {}, {remote: true})
      %th.text-center{style: 'width: 10%;'}
        = sort_link(@q, :price,"Giá", {}, {remote: true})
      %th.text-center{style: 'width: 15%;'}
        = sort_link(@q, :product_type_id, "Loại", {}, {remote: true})
      %th.text-center{style: 'width: 10%;'}
        = sort_link(@q, :position, "Vị trí", {}, {remote: true})
      %th.text-center{style: 'width: 7%;'} Sửa
      %th.text-center{style: 'width: 7%;'} Xoá
      %th.text-center{style: 'width: 7%;'} Copy
  %tbody
    - @products.each do |product|
      %tr
        %td.text-center= product.id
        %td= product.name
        %td.text-right= format_currency(product.price)
        %td.text-center= product.product_type.try(:name)
        %td.text-center= product.position
        %td.text-center= link_to '', edit_product_path(product), class: 'fa fa-edit'
        %td.text-center
          - if can? :delete, product
            = link_to '', product_path(product), class: 'fa fa-times',
             method: :delete, data: { confirm: 'Bạn có chắc chắn muốn xoá không?' }, remote: true
        %td.text-center
          = link_to '', copy_product_path(product), class: 'fa fa-copy'
:javascript
  $(document).on("confirm:complete", function(e, answer){
    if(answer){
      $('#spinner').show();
    }
  })
