!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet"}
    %script{:src => "https://cdn.jsdelivr.net/npm/autonumeric@4.1.0"}
    %title CuongPlus
    = csrf_meta_tags
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = analytics_init if Rails.env.production?
  %body.hold-transition.fixed-left{class: "#{controller_name} #{action_name}"}
    #wrapper
      = render partial: 'layouts/main_header'
      = render partial: 'layouts/main_sidebar'
      %div.content-page
        %div.content
          %div.container-fluid
            = render partial: 'application/spinner'
            = yield
        = render partial: 'layouts/footer'
