!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "cuongplus", :name => "description"}
    %meta{:content => "iphone", :name => "major"}
    %meta{:content => "apple watch", :name => "major"}
    %title CuongPlus.vn
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Noto+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{rel: "shortcut icon", type:"image/x-icon", href: asset_path('favicon.jpg')}
    %title CuongPlus
    = csrf_meta_tags
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = analytics_init if Rails.env.production?
  %body#page-top{style: "background-color: white"}
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.fixed-top
      .container
        %a.navbar-brand.js-scroll-trigger{:href => "/"} CuongPlus.vn
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          Menu
          %i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.text-uppercase.ml-auto
            %li.nav-item
              = search_form_for @q, remote: true, method: :get, url: root_path do |f|
                = f.search_field :name_or_price_cont_any, {placeholder: 'Sản phẩm...', class: 'form-control searchbox', onkeydown: "search_on_enter(event, this)"}
                = f.submit 'Tìm kiếm', {class: 'btn btn-primary pull-right ml-1', style: 'display:none'}
            - ProductCategory.all.active.order_by_position.each do |category|
              %li.nav-item
                = link_to category.name, category_index_path(category), class: 'nav-link js-scroll-trigger'
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#contact"} 
                %i.mdi.mdi-phone-in-talk{style: 'font-size: 20px; line-height: 0'}
            - if current_user
              %li.nav-item
                %a.nav-link.js-scroll-trigger{:href => "/super/dashboard_messages"}
                  %i.mdi.mdi-radar{style: 'font-size: 20px; line-height: 0'}
              %li.nav-item
                %a.nav-link.js-scroll-trigger{:href => "/users/sign_out"}
                  %i.mdi.mdi-logout{style: 'font-size: 20px; line-height: 0'}
    / Header
    %header.chevron{style: "margin-top: -100px"}
      .container
        .head-images-wrapper#promotion_images
          - DashboardMessage.all.active.each do |promotion|
            %a{href: promotion_info_path(promotion)}
              = image_tag promotion.s3_path, class: 'promotion-image' if promotion.s3_path
    .container-fluid
      %div{class: "text-center phone-button"}
        0902.712.712
    .container-fluid.remove_padding
      = yield
    / About
    %section#contact
      .container
        .col-lg-12
          %h3.section-heading.text-uppercase Cường: 0902.712.712
        .col-lg-12
          %h3.section-heading.text-uppercase Cửa hàng: Số 42 Lê Đình Lý - Quận Thanh Khê - Đà Nẵng
        .row
          .col-12.text-center
            #map
    / Footer
    %footer
      .container
        .row
          .col-md-4
            %span.copyright Copyright © htr.lee@gmail.com
          .col-md-4
            %ul.list-inline.social-buttons
              %li.list-inline-item
                %a{:href => "https://www.facebook.com/cuongplus"}
                  %i.ti.ti-facebook
          .col-md-4
            %ul.list-inline.quicklinks
              %li.list-inline-item
                %a{:href => "#"} Privacy Policy
              %li.list-inline-item
                %a{:href => "#"} Terms of Use
:javascript
  $(document).ready(function(){
    navbarCollapse();
    $(document).ready(function(){
      $(window).scroll(navbarCollapse);
    })
  })
  function initMap() {

    var uluru = {lat: 16.057369, lng: 108.2113765};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }
  function navbarCollapse() {
    if ($("#mainNav").offset().top > 100) {
      $("#mainNav").addClass("navbar-shrink");
    } else {
      $("#mainNav").removeClass("navbar-shrink");
    }
  };
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Sp4QSRZCKClWpQ3nBS1rxzWgoZn95V4&callback=initMap"}
