!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title CuongPlus.vn
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Noto+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %title CuongPlus
    = csrf_meta_tags
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = analytics_init if Rails.env.production?
  %body#page-top
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        %a.navbar-brand.js-scroll-trigger{:href => "/"} CuongPlus.vn
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          Menu
          %i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.text-uppercase.ml-auto
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#services"} Dịch Vụ
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#portfolio"} Sản Phẩm
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#team"} Địa chỉ
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#maps"} Bản đồ
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#contact"} Liên Hệ
    / Header
    %header.masthead
      .container
        .intro-text
          .intro-lead-in Chuyên mua bán điện thoại giá tốt nhất thị trường
          %h2 iPhone, iPad, Apple watch, Samsung
          %a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger{:href => "#portfolio"} Sản Phẩm
    %section#portfolio.bg-light
      .container
        = yield
    / About
    %section#services
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading.text-uppercase Dịch Vụ
            %h3.section-subheading.text-muted Chuyên mua bán sửa chữa iPhone, iPad, Apple Watch, Samsung ...
        .row.text-center
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
            %h4.service-heading Mua Bán
            %p.text-muted Mua, bán, trao đổi các loại điện thoại, máy tính bảng, smart watch ...
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-laptop.fa-stack-1x.fa-inverse
            %h4.service-heading Sửa chữa
            %p.text-muted Sửa chữa, thay thế linh kiện, ép kính ...
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-wrench.fa-stack-1x.fa-inverse
            %h4.service-heading Bảo hành
            %p.text-muted Đảm bảo các chính sách bảo hành chính hãng hoặc chính sách bảo hành của cửa hàng

    %section#team.bg-light
      .container
        .row
          .col-lg-12.text-center
            %h3.section-heading.text-uppercase Địa chỉ
            %a{:href => "#"} 0902712712
        .row
          .col-sm-12.text-center
            .team-member
              %img.mx-auto.rounded-circle{:alt => "", :src => "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/29683484_1787579971305562_7960054817416023658_n.jpg?_nc_cat=0&oh=01c83570dc4a8d230ae38be0d6a5d7f1&oe=5B34E807"}/
              %h4 Cường Plus
              %p.text-muted Shop Owner
              %ul.list-inline.social-buttons
                %li.list-inline-item
                  %a{:href => "https://www.facebook.com/cuongplus"}
                    %i.fa.fa-facebook
        .row
          .col-lg-8.mx-auto.text-center
            %p.large.text-muted 42 Lê Đình Lý - Đà Nẵng
    / Clients
    %section#maps
      .container
        .row
          .col-12.text-center
            %h3 Google Maps
            #map
    %section#contact
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading.text-uppercase Liên hệ
            %h3.section-subheading.text-muted Để lại thông tin liên hệ của bạn, chúng tôi sẽ liên lạc với bạn
        .row
          .col-lg-12
            %form#contactForm{:name => "sentMessage", :novalidate => ""}
              .row
                .col-md-6
                  .form-group
                    %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text"}/
                    %p.help-block.text-danger
                  .form-group
                    %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email"}/
                    %p.help-block.text-danger
                  .form-group
                    %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel"}/
                    %p.help-block.text-danger
                .col-md-6
                  .form-group
                    %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Your Message *", :required => ""}
                    %p.help-block.text-danger
                .clearfix
                .col-lg-12.text-center
                  #success
                  %button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase{:type => "submit"} Send Message
    / Footer
    %footer
      .container
        .row
          .col-md-4
            %span.copyright Copyright © htr.lee@gmail.com
          .col-md-4
            %ul.list-inline.social-buttons
              %li.list-inline-item
                %a{:href => "https://www.facebook.com/cuongplus"}
                  %i.fa.fa-twitter
              %li.list-inline-item
                %a{:href => "https://www.facebook.com/cuongplus"}
                  %i.fa.fa-facebook
              %li.list-inline-item
                %a{:href => "https://www.facebook.com/cuongplus"}
                  %i.fa.fa-linkedin
          .col-md-4
            %ul.list-inline.quicklinks
              %li.list-inline-item
                %a{:href => "#"} Privacy Policy
              %li.list-inline-item
                %a{:href => "#"} Terms of Use
:javascript
  $(document).ready(function(){
    navbarCollapse();
    $(document).ready(function(){
      $(window).scroll(navbarCollapse);
    })
  })
  function initMap() {

    var uluru = {lat: 16.057369, lng: 108.2113765};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }
  function navbarCollapse() {
    if ($("#mainNav").offset().top > 100) {
      $("#mainNav").addClass("navbar-shrink");
    } else {
      $("#mainNav").removeClass("navbar-shrink");
    }
  };
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Sp4QSRZCKClWpQ3nBS1rxzWgoZn95V4&callback=initMap"}
